**/__pycache__/

configs/
fad_score/data/
all_trained_models/

data/
eval/
models/
output/
ph_notes/

result*
results*
__pycache__/

_doc*
ph_notes/

configs/
eval/
fad_score/
data/

class4*
fad_score_tmp/
fad_score_data/
models/
output/